@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Yeseva+One&display=swap");

body {
  color: #aaaaaa;
  overflow-x: hidden;
}

main {
  display: block;
  margin-left: 350px;
  transition: all 0.3s;
}

.mLeft {
  margin-left: 225px;
}

.nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: white;
  display: none;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background-color: #fff;
  color: #aaaaaa;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
}

#sidebar.visible {
  display: flex;
}

.navbar-brand {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  padding: 18px 5px;
  color: #b4b4b4;
}

nav .navbar-brand {
  padding: 10px 13px;
}

.navbar-brand span {
  color: #fc8e20;
}

.navbar-brand:hover {
  color: #b4b4b4;
}

.nav-menu a {
  color: #b4b4b4;
}

.nav-menu li {
  margin-bottom: 5px;
  font-size: 15px;
}

.copyright {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

.copyright a {
  color: #b4b4b4;
  font-size: 10px;
}

.copyright a:hover,
.nav-menu a:hover {
  text-decoration: none;
  color: #ff9933;
}

.active a {
  color: #ff9933;
}

.row div {
  max-height: 256px;
}

.row img,
.row iframe {
  height: 100%;
}

.fa-bars,
.fa-times {
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: all 1s;
}

.show {
  display: block;
}

main > .row > div {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: transparent;
  font-size: 27px;
  font-weight: 700;
  transition: all 0.5s;
}

.overlay:hover {
  color: white;
}

.contact-form {
  margin-top: 50px;
}

.contact-form .card {
  max-width: 30rem;
}

.btn-primary {
  background-color: #f17b1a;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #fc8e20;
}

@media only screen and (max-width: 750px) {
  #sidebar.visible {
    display: none;
  }

  .nav.navbar {
    display: flex;
  }

  .mLeft {
    margin-left: 0;
  }

  main {
    margin-top: 70px;
    width: 100vw;
  }

  .nav.navbar {
    padding: 10px;
  }

  main > .row > div {
    margin-right: 20px;
  }

  .contact-form {
    margin-top: 90px;
  }
}
