@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Yeseva+One&display=swap");

main {
  display: block;
  margin-left: 225px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  background-color: #fff;
  color: #aaaaaa;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-brand {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  padding: 18px 5px;
  color: #b4b4b4;
}

.navbar-brand span {
  color: #fc8e20;
}

.navbar-brand:hover {
  color: #b4b4b4;
}

.nav-menu a {
  color: #b4b4b4;
}

.nav-menu li {
  margin-bottom: 5px;
  font-size: 15px;
}

.copyright {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

.copyright a {
  color: #b4b4b4;
  font-size: 10px;
}

.copyright a:hover,
.nav-menu a:hover {
  text-decoration: none;
  color: #ff9933;
}

.active a {
  color: #ff9933;
}

.row div {
  max-height: 256px;
}

.row img,
.row iframe {
  height: 100%;
}

@media only screen and (max-width: 750px) {
  #sidebar {
    display: none;
  }

  main {
    margin-left: 0;
  }
}
